fastapi==0.115.0
uvicorn[standard]==0.30.6

SQLAlchemy==2.0.34
psycopg2-binary==2.9.9

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
joblib==1.4.2

supabase==2.6.0

python-multipart==0.0.9
pydantic==2.8.2
python-dotenv==1.0.1